@charset "UTF-8";

/* ===================
    基本設定
=================== */
* {
  box-sizing: border-box;
  font-family: "游ゴシック体", YuGothic, "游ゴシック体", "YuGothic", sans-serif;
}

header {
  margin: 0 auto;
}

/* ===================
    ナビゲーション
=================== */
.navbar {
  text-align: center;
  position: fixed;
}

.navbar .logo {
  cursor: pointer;
}

body {
  width: 70%;
  min-width: 350px;
  margin: 0 auto;
}

#main-table {
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

input {
  display: flexbox;
  font-size: large;
  min-width: 1rem;
  min-height: 1.5rem;
  width: 20%;
  height: auto;
  text-align: center;
}
