@charset "UTF-8";

/* ===================
    基本設定
=================== */
* {
  box-sizing: border-box;
  font-family: "游ゴシック体", YuGothic, "游ゴシック体", "YuGothic", sans-serif;
}

body {
  width: 70%;
  min-width: 350px;
  margin: 0 auto;
  background-color: bisque;
}

header {
  text-align: center;
  background-color: burlywood;
  padding: 2rem;
  margin: 1rem auto;
  margin-top: 0;
}

main {
  margin: 0 auto;
  background-color: whitesmoke;
}

footer {
  text-align: center;
  background-color: burlywood;
  margin: 0 auto;
}

/* ===================
    ナビゲーション
=================== */
.navbar {
  text-align: center;
  position: fixed;
}

.navbar .logo {
  cursor: pointer;
}

#main-table {
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
}

input {
  font-size: 32px;
  width: 4rem;
  min-width: 3rem;
  aspect-ratio: 1 / 1;
  text-align: center;
}
