    body {
        margin: 0 auto;
        background-color: rgb(0, 0, 0);
        color: white;
    }

    .wordlebox {
        width: 23%;
        height: 25%;
        margin: 0 auto;
        display: grid; /* Makes the container a grid container */
        column-count: 6;
        grid-template-columns: 1fr 1fr 1fr 1fr; /* Creates three equal-width columns */
        column-rule: 1px solid #262853;
    }

    .worrow {
        border: 1px solid #ccc;
        width: 100%;
        height: 100%;
        font-size: 32px;
        text-align: center;
        transition: 300ms all ease-in;
    }

